{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <h1>Choose user type to register</h1>
    {{ form_start(form, { 'style': 'horizontal', 'attr': {'id': 'form'} } ) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#nakard_laboratory_UserBundle_choose_user_type_type').change(function () {
            $('#form').attr('action', '{{ url('nakard_laboratory_application_users_add') }}/'+ $(this).val());
        });
    </script>
{% endblock %}